<div class="carousel-container">
  <div class="carousel__heading">
    <div class="carousel__heading--title">
      <div>Fall Favorites</div>
    </div>

    <div class="carousel__cta">
      <a href="#">
        <button class="btn">View all products</button>
      </a>
    </div>
  </div>
  <div class="carousel">
    <app-carousel-card></app-carousel-card>
    <app-carousel-card></app-carousel-card>
    <app-carousel-card></app-carousel-card>
    <app-carousel-card></app-carousel-card>
    <app-carousel-card></app-carousel-card>
    <app-carousel-card></app-carousel-card>
  </div>
  <div class="carousel__cta--desktop">
    <a href="#"><button class="btn">View All Products</button></a>
  </div>
</div>
