// Variables
// Colors
$brachs-purple: #8a1a9b;
$brachs-pink: #ce009f;
$brachs-dark-purple: #592998;
$brachs-light-pink: #ff79c4;
$brachs-black: #2b2b2b;
$seashell: #f9f7f5;
$offseason-gradient: linear-gradient(to right, $brachs-purple, $brachs-pink);
