/* Base css */
button.btn {
  background-color: $brachs-dark-purple;
  font-size: 28px;
  color: white;
  padding: 1rem 2rem;
  font-size: 22px;
  font-family: "apertura", sans-serif;
  font-weight: 700;
  @include medium-up {
    font-size: 28px;
  }
}
