h1 {
  font-size: 80px;
  font-family: "Apertura";
  font-weight: bold;
}

h2 {
  font-size: 60px;
  font-family: "Apertura";
  font-weight: bold;
}

h3 {
  font-size: 35px;
  font-family: "Apertura";
  font-weight: normal;
}

h4 {
  font-size: 24px;
  font-family: "Apertura";
  font-weight: bold;
}

p {
  font-size: 22px;
  font-family: "Apertura";
  font-weight: normal;
}

a {
  font-size: 22px;
}
