<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__sign-up row">
        <div class="col-12">
          <h3>Sign up for special offers & delicous candy!</h3>
        </div>
        <div class="col-12">
          <p>
            Be the first to know about new Brach's products, promotions and
            giveaways
          </p>
        </div>
        <div class="col-12 footer__inputs">
          <input type="text" placeholder="First Name" />
          <input type="text" placeholder="Last Name" />
          <input type="email" placeholder="Email" />
          <button class="btn">Sign up</button>
        </div>

        <div class="col-12 footer__privacy">
          <p>We respect your privacy</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__links row">
        <div class="col-12 col-md-8">
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Supply Chain Transparency</a></li>
            <li><a href="#">Do Not Sell My Personal Information</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4 footer__logo">
          <img src="" alt="Ferrera Logo" />
          <a href="#">Other Brands </a>
        </div>

        <div class="col-12 col-md-6 footer__copyright">
          <p>
            @ 2023 Ferrera Candy Company.<br />
            All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
