<div class="recipe">
  <div class="container">
    <div class="row recipe__top">
      <div class="col-10 col-md-auto recipe__commands">
        <div class="print">
          Print
          <img src="" alt="" />
        </div>
        |
        <div>
          Share
          <img src="" alt="" />
        </div>
      </div>
      <div class="col-10 col-md-auto recipe__details">
        <div>24 servings</div>
        |
        <div><img src="" alt="" /> 25-35 mins</div>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-12 col-md-5">
        <div class="recipe__product">
          <div class="recipe__product--title">Brach's Product</div>
          <img src="https://picsum.photos/200/200" class="img-fluid" alt="" />
          <div class="recipe__product--title">Autumn Mix Mellowcreme Candy</div>
          <a href=""> <button class="btn">Buy Product</button> </a>
        </div>
        <div class="recipe__ingredients">
          <div class="recipe__ingredients--title">Cookie Crust</div>
          <div class="recipe__ingredients--items">
            <ul>
              <li>1 1/2 cups flour</li>
              <li>1 teaspoon baking soda</li>
              <li>1 1/2 cups flour</li>
              <li>1 teaspoon baking soda</li>
            </ul>
          </div>
        </div>
        <div class="recipe__ingredients">
          <div class="recipe__ingredients--title">Filling</div>
          <div class="recipe__ingredients--items">
            <ul>
              <li>1 1/2 cups flour</li>
              <li>1 teaspoon baking soda</li>
              <li>1 1/2 cups flour</li>
              <li>1 teaspoon baking soda</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="recipe__instructions">
          <div class="recipe__instructions--title">
            <div>Instructions</div>
          </div>
          <div class="recipe__instructions--images">
            <img
              class="img-fluid col-6"
              src="https://picsum.photos/200"
              alt=""
            />
            <img
              class="img-fluid col-6"
              src="https://picsum.photos/200"
              alt=""
            />
          </div>
          <div class="recipe__instructions--steps">
            <ol>
              <li>Step 1</li>
              <li>Step 2</li>
              <li>Step 3</li>
              <li>Step 4</li>
              <li>Step 5</li>
              <li>Step 6</li>
              <li>Step 7</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
