<div
  class="hero"
  style="background-image: url('https://picsum.photos/200/300')"
>
  <div class="hero__content container">
    <div class="hero__content--headline">
      <div>Keep treats in your bowl, and tricks up your sleeve.</div>
    </div>
    <div class="hero__content--copy">
      <div>
        Make every movie night, tailgate, and bonfire sweeter with Brach’s.
      </div>
    </div>
    <div class="hero__content--cta">
      <a href="#">
        <button class="btn">Find where to buy</button>
      </a>
    </div>
  </div>
</div>
