<div class="container">
  <div class="product-detail row">
    <div class="product-detail__top">
      <div class="product-detail__image">
        <img
          class="img-fluid"
          src="https://picsum.photos/seed/picsum/200/200"
          alt=""
        />
      </div>
    </div>
    <div class="product-detail__bottom">
      <div class="product-detail__title"><h1>Classic Candy Corn</h1></div>
      <div class="product-detail_copy">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis
          voluptatem temporibus maiores deleniti alias officia unde distinctio,
          placeat iusto minima veniam quod, consequuntur quo necessitatibus
          excepturi suscipit perferendis reiciendis cumque.
        </p>
      </div>
      <div class="product-detail__sizes">
        <p>Available In:</p>
        <div>
          <ul>
            <li>3.5oz</li>
            <li>4.2oz</li>
            <li>6oz</li>
            <li>11oz</li>
            <li>16.2oz</li>
            <li>20oz</li>
            <li>40oz</li>
            <li>66oz</li>
          </ul>
        </div>
      </div>
      <div
        class="product-detail__nutrition"
        data-bs-toggle="collapse"
        href="#nutritionCollapse"
        role="button"
        aria-expanded="false"
        aria-controls="nutritionCollapse"
      >
        Nutrition Facts +
      </div>
      <div class="collapse" id="nutritionCollapse">
        <div class="">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          dignissimos soluta enim cupiditate, corrupti officiis tenetur nihil
          quidem eius culpa omnis ipsam dicta corporis commodi similique eveniet
          voluptatem maiores consequatur?
        </div>
      </div>
      <div
        class="product-detail__ingredients"
        data-bs-toggle="collapse"
        href="#ingredientCollapse"
        role="button"
        aria-expanded="false"
        aria-controls="ingredientCollapse"
      >
        Ingredients +
      </div>
      <div class="collapse" id="ingredientCollapse">
        <div class="">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          dignissimos soluta enim cupiditate, corrupti officiis tenetur nihil
          quidem eius culpa omnis ipsam dicta corporis commodi similique eveniet
          voluptatem maiores consequatur?
        </div>
      </div>
      <div class="product-detail__buttons">
        <a href="#"><button class="btn">Buy Now</button></a>
        <a href="#"><button class="btn">Where to buy</button></a>
      </div>
    </div>
  </div>
</div>
