<div class="container">
  <!-- Homepage  Headline copy button-->
  <div class="row">
    <div class="col-10">
      <h2>Brach's favorites for fall</h2>
      <p>
        Whether you're filling your candy dish or preparing for
        trick-or-treaters, Brach's has everything you need to make fall sweeter.
        Our iconic seasonal candy selection isperfect for spooky recipes or
        simply bringing people together.
      </p>
      <a href="#">
        <button class="btn">Learn More</button>
      </a>
    </div>
  </div>
</div>
