@import "mixins";
@import "colors";
@import "common";
/* Full width image */
.full-bleed-image {
  $self: &;
  width: 100%;
  overflow: hidden;
  position: relative;
  &__content {
    padding: 2.5rem;
    color: white;
    margin: 2rem;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background: linear-gradient(
      130deg,
      rgba($brachs-purple, 0.8),
      rgba($brachs-pink, 0.8)
    );
    @include medium-up {
      width: 60%;
    }
    #{ $self }__headline {
      font-size: 45px;
      line-height: 45px;
      font-family: "apertura", sans-serif;
      font-weight: 700;
      margin-bottom: 1rem;
      @include medium-up {
        font-size: 80px;
        line-height: 80px;
      }
    }
    #{ $self }__copy {
      font-size: 22px;
      font-family: "apertura", sans-serif;
      font-weight: 500;
      margin-bottom: 1rem;
      @include medium-up {
        font-size: 35px;
      }
    }
  }
}

.full-bleed-image img {
  width: 100%;
  height: auto;
  display: block;
}
