@import "colors";
@import "common";
.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    margin-bottom: 1rem;
  }
  button {
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    //   background-color: $halloween-orange;
    //   border-radius: 5px;
    //   color: white;
    //   border: none;
  }
  &__title {
    font-weight: bold;
    font-family: "apertura", sans-serif;
    font-size: 22px;
    @include medium-up {
      font-size: 30px;
    }
  }
}
