@import "colors";
.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    margin-bottom: 1rem;
  }
  button {
    background-color: $brachs-purple;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
  }
  &__title {
    font-weight: bold;
  }
}
