Home
<h1>Components</h1>
<ul>
  <li><a routerLink="/components/hero">Hero</a></li>
  <li><a routerLink="/components/header">Header</a></li>
  <li><a routerLink="/components/copy-image">Copy Image</a></li>
  <li><a routerLink="/components/full-bleed">Full Bleed</a></li>
  <li><a routerLink="/components/footer">Footer</a></li>
  <li><a routerLink="/components/carousel-card">Carousel Card</a></li>
  <li><a routerLink="/components/carousel">Carousel</a></li>
</ul>

<h1>Pages</h1>
<ul>
  <li><a routerLink="/pages/product-detail">Product Detail</a></li>
</ul>
